<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- <!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN"
	"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd"> -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true" threshold="all">

	<appender name="udpClientLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/UDPClient.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
	</appender>

	<appender name="udpClientStats" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="src/logs/UDPClientStatistics.txt" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
	</appender>

	<!-- Console Appender -->
	<appender name="default.console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>	
	
	<logger name="UDP_CLIENT_STATISTICS_LOG" additivity="false">
		<level value="info" />
		<appender-ref ref="rpcClientStats" />		
	</logger>
	
	<!-- ROOT LOGGER -->
	<root>
		<priority value="debug" />				
		<appender-ref ref="udpClientLog" />
		<appender-ref ref="default.console" />
	</root>
</log4j:configuration>
